.structureContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    .showImages{
        display: flex;
        flex-direction: column;
        
        h1{
            color: #f53134;
        }
                
        ul{
            display: flex;
            list-style: none;

            li{
                h2{
                    margin-left: 140px;                    
                }
            }
                   
        }

        img{
            width: 350px;
            height: 300px;
            margin: 50px;
            border-radius: 5px;            
        }
    }
}